# Iboga: Small work group cluster in Frankfurt, ITP.

# use like this:
#export COMPILER=GNU MODE=Release SHAREDMEM=TBB DISTRIBUTEDMEM=None

#### REGARDING TBB, do NOT use Ubuntus default implementation:

# we installed tbb here fore everybody readable
export TBB_PATH="/mnt/beegfs/koeppel/tbb2017_20170226oss"

export TBB_INC="-I${TBB_PATH}/include"
export TBB_SHLIB="-L${TBB_PATH}/lib/intel64/gcc4.7 -ltbb"
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:${TBB_PATH}/lib/intel64/gcc4.7/"

# You can grab a compiled copy of this TBB implementation from:
# http://itp.uni-frankfurt.de/~koeppel/tbb-for-iboga.tar.gz
